.main_exhibit
{
    width: 100%;
    height: 350px;
}

.main_exhibit img
{
    width: 550px;
    height: 300px;
    padding: 10px;
    padding-right: 20px;
    float: left;
}

.main_exhibit a
{
    width: 100px;
    height: 25px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    font-color: black;
    background-color: #FFFF5C;
    text-decoration: none;
    float: right;
    padding-top: 5px;
    margin-bottom: 12px;
}

.main_exhibit p
{
    padding-top: 5px;
}

.exhibit
{
    margin-top: 25px;
    width: 100%;
    height: 250px;
}

.exhibit img
{
    width: 230px;
    height: 230px;
    padding: 10px;
    float: left;
}

.exhibit h2
{
    padding-left: 50px;
    width: 575px;
    height: 25px;
    float: left;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 1px;
}

.exhibit a
{
    width: 100px;
    height: 25px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    font-color: black;
    background-color: #FFFF5C;
    text-decoration: none;
    float: left;
    padding-top: 5px;
    margin-bottom: 12px;
    margin-left: 21px;
}

.exhibit p
{
    margin-top: 10px;
}
