#wrapper
{
    width: 1000px;
    margin: auto;
}

#header
{
    height: 200px;
    background-image: url("../images/header.png");
    background-repeat: repeat-x;
    background-size: 150px;
}

#header img
{
    float: left;
    width: 50px;
    height: 50px;
    padding: 25px;
}

#header h1
{
    text-align: center;
    margin: 0px;
    width: 800px;
    padding-top: 30px;
    float: left;
}

#header ul
{
    float: left;
    list-style-type: none;
    padding: 0px;
    padding-left: 350px;
    margin: 0px;
    text-align: left;
}

#header li
{
    float: left;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
}

#header a:link, #header a:visited, #header a:active
{
    text-decoration: none;
}

.current a
{
    color: #000000;
}

.clear
{
    clear: both;
    height: 50px;
}

#footer
{
    height: 100px;
    background-color: #D0D0D0;
}

#footer p
{
    text-align: center;
    width: 50%;
    float: left;
}

